@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

*,
*::before,
*::after {
    font-family: 'Chelsea Market', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: repeating-linear-gradient(
        -45deg,
        whitesmoke,
        burlywood 10px,
        bisque 5px,
        burlywood 5px
      );
    }

main {
    display: flex;
    align-items: center;
}


.content {
    width: 45vw;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

p {
    font-size: x-large;
    text-align: justify;
    line-height: 2.5rem;
}

fieldset{
    display: grid;
    border: purple 5px double;
    width: 48vw;
    grid-template-columns: auto auto;
    gap: 1rem;
}

label, button{
    display: flex;
    margin: 5px 0 5px 15px;
    font-size: large;
}

input {
    margin-left: 20px;
}

legend {
    margin-left: 1rem;
    font-size: xx-large;
}

input[type="submit"] {
    cursor: pointer;
    padding: 0.7rem;
    width: 12rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: .2rem;
    border: black 2px solid;
    background-color: rgb(225, 84, 225);
}

.graphic {
    background-color: purple;
    border-radius: 0 30% 30% 0;
    height: 100vh;
    width: 45vw;
}

img {
    height: 90vh;
    width: 35vw;
}

.icon {
    position: static;
    left: 4.1vh;
    top: 16.5vh;
    width: 10vw;
    height: 8vh;
}

.icon2 {
    position: absolute;
    left: 17.5vh;
    top: 18.5vh;
    font-size: 3rem;
    text-decoration-line: overline;
}

input:hover {
    border: purple solid 3px;
}

input[type="password"]:invalid {
    border: 2px red solid;
}

input[type="password"]:valid {
    border: 2px green solid;
}

img[class="image"]:hover {
    transition: transform 2s ease-in-out;
    transform: scale(1.05);
}

.error {
    font-size: small;
    color: darkred;
    font-weight: 700;
    margin-left: 1.5rem;
}

#no_error {
    font-size: small;
    color: green;
    font-weight: 700;
    margin-left: 1.5rem;
}